.display-container {
  /* iOS 6/7 plus screen size is 414 x 736 */
  width: 414px;
  border: 1px solid #000000;
  padding: 14px;
}

.message-group {
  display: flex;
}

.message {
  display: inline-block;
  
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;

  max-width: 75%;
  padding: 8px 12px;
  margin-bottom: 8px;

  font-family: Helvetica Neue;
  font-size: 15px;
  font-weight: 300;

  overflow-wrap: break-word;
}

.message.to-me {
  margin-right: auto;
  background-color: #DBDDDE;
  color: #2B2B2B;
}

.message.to-them {
  margin-left: auto;
  background-color: #1D62F0;
  color: #FFFFFF;
}

p {
  margin: 0px;
}

img {
  max-width: 100%;
}